/* Natural Tags */

body{
  background-color: black;
}

h1, h2, h3, h4, p{
  color: #6699ff;
  font-family: 'Titillium Web', sans-serif;
}

/* Classes */

.center{
  margin: auto;
  text-align: center;
}

.block{
  display: inline-block;
}

.option-block{
  width: 33%;
  padding: 40px;
  border-radius: 20px;
}

.float-left{
  float: left;
}

.zoom {
  margin: 0 auto;
  transition: transform .5s;
}

.zoom:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.fixed{
  position: fixed;
}

.dark-gray{
  background-color: gray;
}

.text-input{
  color: aquamarine;
  background-color: black;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: white;
  font-family: 'Titillium Web', sans-serif;
}

.textarea{
  color: blue;
  border-radius: 20px;
  font-family: 'Titillium Web', sans-serif;
}

.button{
  border: none;
  border-radius: 10px;
  background-color: #6699ff;
  font-family: 'Titillium Web', sans-serif;
}

/* Ids */

#index-title{
  border-radius: 20px;
  background-color: #333300;
}

#dictionary-definitions{
  background-color: aquamarine;
}

#write-definitions{
  background-color: aqua;
}

#dictionary-logo{
  top: 0px;
  left: 0px;
  border-radius: 20px;
}

#dictionary-logo:hover{
  cursor: pointer;
}

#write-logo{
  top: 0px;
  left: 0px;
  border-radius: 20px;
}

#write-logo:hover{
  cursor: pointer;
}